#main-nav {
    position: fixed !important;
    top: 0;
    z-index: 9999;
    zoom: 1;
    left: 0;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 0;
    font-size: 18px;
    line-height: 20px;
    width: 40px;
}
#main-nav {
    /*border-bottom: 1px solid #4173c9;*/
}

#main-nav {
    width: 100%;
    float: left;
    position: absolute;
    background-color: #003561;
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

#main-nav .container {
    display: table;
    width: 100%;
    padding: 0 30px;
}

/*#main-nav .nav-container{*/
/*    display: table;*/
/*    padding: 0 15px;*/
/*}*/

@media (max-width: 768px) {
    #main-nav .container {
        width: inherit;
    }
}

#main-nav .container > *:not(.overlay, .popup) {
    display: table-cell;
    vertical-align: middle;
}

.nav-menu {
    margin-bottom: 0;
    float: right;
}

.nav-menu > li {
    float: left;
    /* text-transform: uppercase; */
    line-height: 49px;
    /* margin-left: 40px; */
    padding-left: 40px;
}

.nav-menu li a {
    color: #FFFFFF;
}
ul.nav-menu li > ul {
    display: none;
    position: absolute;
    right: 0;
}

ul.nav-menu li:hover > ul {
    display: inherit;
}
.nav-menu li .flyout-user-signout a {
    color: #333;
}
.nav-menu li > ul li a:hover {
    text-decoration: none;
    color: #e62e04;
    background-color: #e8e8e8;
}
.nav-menu li .flyout-user-signout a:hover {
    color: #e62e04;
}


.user-account-main {
    padding-top: 15px;
    width: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #656565;
    z-index: 12;
    box-shadow: 2px 2px 2px #ccc;
}
.flyout-user-signout {
    display: none;
    margin: 0 20px 15px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
}
.flyout-quick-entry {
    background-color: #f4f4f4;
}
.user-account-main li {
    list-style: none;
    margin-left: 0;
    float: inherit;
}
.flyout-quick-entry li a {
    display: block;
    padding: 6px 0 6px 20px;
    line-height: 22px;
    color: #333;
}
.flyout-quick-entry li:first-child a {
    background-color: #e8e8e8;
}

#main-nav .maia-button {
    font-weight: 300;
    font-size: 12px;
    padding: 10px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 9px;
}

#nav-logo {
    line-height: 50px;
    color: #fff;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a:link {
    -webkit-tap-highlight-color: #fcd700;
}

.yellow {
    color: #fcd700;
}
.required:after {
    color: #e32;
    content: ' *';
    position: absolute;
    margin-left: 3px;
}
.help-inline{
    color: #e32;
    /*background-color: #f9f2f4;*/
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    left: 5px;
    position: relative;
    /*top: 5px;*/
}
.maia-button {
    background-color: #4173c9;
    background-image: -moz-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e8ee4), color-stop(1, #4173c9));
    background-image: linear-gradient(top, #5e8ee4, #4173c9);

    /*background-color: #005437;*/
    /*background-image: -moz-linear-gradient(top, #0A6E4B, #005437);*/
    /*background-image: -webkit-linear-gradient(top, #0A6E4B, #005437);*/
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0A6E4B), color-stop(1, #005437));*/
    /*background-image: linear-gradient(top, #0A6E4B, #005437);*/

    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
}

a.maia-button {
    color: #fff !important;
    text-decoration: none;
}

/*#main-nav a {*/
    /*color: #fff;*/
/*}*/

h1#header {
    text-align: center;
    padding: 50px;
    font-size: 62px;
    text-shadow: 0 2px 2px #3c77b3;
}

/* mobile menu */

/*! ============================================================
 * Based entirely on Animated Navicons by Hugo Darby-Brown:
 * http://codepen.io/hugo/pen/LmJsf
 * ============================================================ */
/* ========= Menu Icon Base ======== */
.menu1, .menu2, .menu3, .menu4, .menu5, .menu6 {
    cursor: pointer;
    display: inline-block;
    font-size: 5px;
    height: 4em;
    position: relative;
    width: 4em;
    -webkit-tap-highlight-color: transparent;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.menu1 span, .menu2 span, .menu3 span, .menu4 span, .menu5 span, .menu6 span {
    display: block;
    background: #fff;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    backface-visibility: hidden;
    height: 0.8em;
    position: absolute;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* ============ Menu1 ============ */
.menu1 span {
    left: 0;
}

.menu1 span:nth-child(1) {
    top: 1em;
}

.menu1 span:nth-child(2) {
    top: 2.2em;
}

.menu1 span:nth-child(3) {
    top: 3.4em;
}

.menu1.open span:nth-child(1) {
    -moz-transform: rotate(40deg) translate(0.9em, 0.9em);
    -ms-transform: rotate(40deg) translate(0.9em, 0.9em);
    -webkit-transform: rotate(40deg) translate(0.9em, 0.9em);
    transform: rotate(40deg) translate(0.9em, 0.9em);
}

.menu1.open span:nth-child(2) {
    opacity: 0;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

.menu1.open span:nth-child(3) {
    -moz-transform: rotate(-40deg) translate(0.8em, -0.8em);
    -ms-transform: rotate(-40deg) translate(0.8em, -0.8em);
    -webkit-transform: rotate(-40deg) translate(0.8em, -0.8em);
    transform: rotate(-40deg) translate(0.8em, -0.8em);
}

/*!
 * Animated navicon credit to @hugo - http://codepen.io/hugo/pen/LmJsf
 * My fork (attached as an external resource):
 * http://codepen.io/jreece/pen/fIdqg
*/
.menu {
    position: fixed;
    overflow-y: auto;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(237, 225, 204, 0.9);
    border-top: 1px solid #3D3527;
    -moz-transition: opacity 800ms;
    -o-transition: opacity 800ms;
    -webkit-transition: opacity 800ms;
    transition: opacity 800ms;
}

.menu.off {
    opacity: 0;
    z-index: -1;
    -moz-transition: opacity;
    -o-transition: opacity;
    -webkit-transition: opacity;
    transition: opacity;
}

.menu .nav, .menu .nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu .nav a {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #3D3527;
    color: #3D3527;
    font-size: 300%;
    letter-spacing: 1vw;
    line-height: 33.33333vh;
    text-decoration: none;
    text-transform: uppercase;
}

.menu .nav a:hover, .menu .nav a:focus {
    background: rgba(61, 53, 39, 0.9);
    color: #EDE1CC;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
}

.toggle-menu {
    z-index: 2;
    right: 0;
    top: 0;
    float: right;
    background-color: transparent;
    border: none;
    /*line-height: 50px;*/
    /*margin-left: 40px;*/
}

.toggle-menu > span {
    background: #EDE1CC;
}

.toggle-menu.open {
    background: #3D3527;
}

@media (max-width: 700px) {
    .nav-menu {
        display: none;
    }

    .toggle-menu {

    }
}

#main-nav .container .navigation, #main-nav .container .toggle-menu-container {
    display: none;
}
.navbar-nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 15px 4.54545454545% 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute !important;
    width: calc(100% - 40px);
    height: 87%;
}
.fly-wrap-in {
    margin-left: 40px;
    /* position: relative; */
    height: 100%;
}
.fly-side-wrap {
    background: #555;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 100%;
}
ul.fly-bottom-soc {
    overflow: hidden;
    width: 100%;
}
ul.fly-bottom-soc li a {
    border-top: 1px solid #444;
    color: #888;
    cursor: pointer;
    float: left;
    overflow: hidden;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 100%;
}
ul.fly-bottom-soc li i {
    font-size: 20px;
    padding: 10px;
    /*width: 20px;*/
}

ul.fly-bottom-soc li.fb-soc a:hover,
.post-soc-fb {
    background: #3b5997;
    color: #fff;
}

ul.fly-bottom-soc li.twit-soc a:hover,
.post-soc-twit {
    background: #00aced;
    color: #fff;
}

ul.fly-bottom-soc li.pin-soc a:hover,
.post-soc-pin {
    background: #cb2027;
    color: #fff;
}

ul.fly-bottom-soc li.inst-soc a:hover {
    background: #36658c;
    color: #fff;
}

ul.fly-bottom-soc li.goog-soc a:hover {
    background: #cd3627;
    color: #fff;
}

ul.fly-bottom-soc li.yt-soc a:hover {
    background: #f00;
    color: #fff;
}

ul.fly-bottom-soc li.link-soc a:hover {
    background: #069;
    color: #fff;
}

ul.fly-bottom-soc li.tum-soc a:hover {
    background: #304e6c;
    color: #fff;
}

ul.fly-bottom-soc li.rss-soc a:hover {
    background: #f60;
    color: #fff;
}

@media (max-width: 989px) {
    #main-nav .container .nav-menu {
        display: none;
    }

    #main-nav .container .toggle-menu-container {
        display: table-cell;
        vertical-align: middle;
    }
    .navbar-nav > li.li-user{
        padding: 10px 0;
        color: #8c8c8c;
    }
    .navbar-nav > li > a {
        color: #fff;
    }
    .navbar-nav > li.li-section{
        border-top: 1px solid #5c5c5c;
        padding-top: 10px;
        margin-top: 10px;
    }

    .nav> li > a:focus, .nav > li > a:hover {
        background-color: transparent;
        color: #ccc;
    }

    #main-nav .container .navigation {

        height: 100%;
        min-height: 100%;
        right: -320px;
        position: fixed;
        top: 0;
        width: 320px;
        min-width: 320px;
        max-width: 70%;
        
        background: #333333;
        color: rgba(255, 255, 255, 0.8);
        
        margin: 0;
        padding: 0;
        display: block;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        
    }

    /*#wrapper, #main-nav .navigation, .users-tools {*/
    /*    -webkit-transition: left .3s ease-in;*/
    /*    -o-transition: left .3s ease-in;*/
    /*    transition: left .3s ease-in;*/
    /*}*/
    .nav-open #main-nav .navigation {
        right: 0;
    }

    body.nav-open .wrapper, body.nav-open #main-nav {
        position: relative;
        left: -320px;
    }
}
@media (min-width: 768px){
    .navbar-nav>li {
     float: initial; 
}
}

@media (max-width: 768px) {
    .navbar-toggle, #wrapper, .header-nav .navigation, .users-tools, .header-bg > .container {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #main-nav .container .navigation {
        /*left: -260px;*/
        width: 260px;
        min-width: 260px;
        max-width: 260px;
        right: -260px;
        
    }
    body.nav-open #main-nav .container .navigation {
        left: auto;
        right: 0;
    }

    body.nav-open .wrapper, body.nav-open #main-nav {
        position: relative;
        left: -260px;
    }
}

/* end mobile menu*/


@media (max-width: 991px){
    .form-horizontal .control-label {
        text-align: left;
    }
}


#breadcrumb {
    margin-top: 20px;
    color: #777;
    font-size: 13px;
}

div#breadcrumb div div {
    display: inline;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

#breadcrumb a {
    text-decoration: none;
    color: #777;
}

#breadcrumb span.sp {
    margin: 0 10px;
}

h1.entry-title {
    /*margin: auto 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 117%;
}

.first-section {

}

.second-section {
    /*background: url(../images/bg-hr-top.png) no-repeat top center, url(../images/bg-hr-bottom.png) no-repeat bottom center;*/
    /*background: url(../images/bg-hr-top.png) no-repeat top center;*/
    /*background-color: #f7f7f7;*/
}

section {
    background: url(../images/bg-hr-top.png) no-repeat top center;
}

section:first-child {
    background: none;
}

/*.first-section > .container:first-child{*/
    /*background: url(../images/logo_bg.jpg) no-repeat left bottom;*/
/*}*/

@media screen and (min-width: 480px) {
    .hlf,
    .trd,
    .fth {
        float: left;
        margin-right: 1.5%;
    }

    .hlf:last-child,
    .trd:last-child,
    .fth:last-child {
        margin: 0;
        float: right;
    }

    .hlf {
        width: 49.25%;
    }

    .trd {
        width: 32.3%;
    }

    .fth {
        width: 23.8%;
    }
}

/* Box */
.box {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 3%;
    margin: 0 auto;
    margin-bottom: 1.6%;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media screen and (min-width: 480px) {
    .box {
        padding: 2%;
        margin-bottom: 2%;
        max-width: 500px;
    }
}

@media screen and (min-width: 765px) {
    .box {
        padding: 1.5%;
        margin-bottom: 1.5%;
    }
}

@media screen and (min-width: 1024px) {
    .box {
        padding: 1.25%;
        margin-bottom: 1.25%;
    }
}

@media screen and (min-width: 1180px) {
    .box {
        padding: 1%;
        margin-bottom: 1%;
    }
}

/*-----------------------------------//
//  PEN STYLES
//-----------------------------------*/
/*PEN STYLES*/
.blog-card {
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    margin: 0 auto 1.6%;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-card:hover .details {
    left: 0;
}

.blog-card:hover.alt .details {
    right: 0;
}

.blog-card.alt .details {
    right: -100%;
    left: inherit;
}

.blog-card .photo {
    height: 200px;
    position: relative;
}

.blog-card .photo.photo1 {
    background: url("http://i62.tinypic.com/34oq4o0.jpg") center no-repeat;
    background-size: cover;
}

.blog-card .details {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    height: 200px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%;
}

.blog-card .details > li {
    padding: 3px 0;
}

.blog-card .details li:before, .blog-card .details .share ul:before {
    font-family: FontAwesome;
    margin-right: 10px;
    vertical-align: middle;
}

.blog-card .details .author:before {
    content: "\f007";
}

.blog-card .details .date:before {
    content: "\f133";
}

.blog-card .details .share {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-card .details .share ul:before {
    content: "\f045";
    position: relative;
    top: -1px;
}

.blog-card .details .share ul li:first-child {
    margin-left: -3px;
}

.blog-card .details .share li {
    display: inline-block;
    margin-right: 3px;
}

.blog-card .details .phone:before {
    content: "\f095";
}

.blog-card .details a {
    color: inherit;
    /*border-bottom: 1px dotted;*/
}

.blog-card .details a:hover {
    color: #75D13B;
}

.blog-card .description {
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    min-height: 145px;
}

.blog-card.review .description:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.blog-card.review .description {
    max-height: 108px;
    min-height: inherit;
}

.blog-card .description h1 {
    font-size: 14px;
    line-height: inherit;
    margin: 0;
}

.blog-card .description h1 > a {
    color: inherit;
}

.blog-card .description h2 {
    color: #9b9b9b;
    font-size: 14px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.2% 0;
}

.blog-card .description h3 {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1.2% 0;
}

.blog-card .description h1, .blog-card .description h2, .blog-card .description .summary, .blog-card .description h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog-card .description p.summary {
    position: relative;
    margin: 0;
    padding-top: 8px;
}

.blog-card .description p.summary:after {
    content: "";
    background: #75D13B;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 2px;
    left: 0;
}

/*.blog-card .description > a {*/
/*  color: #75D13B;*/
/*  margin-bottom: 10px;*/
/*  float: right;*/
/*}*/
/*.blog-card .description a:after {*/
/*  transition: all 0.3s ease;*/
/*  -webkit-transition: all 0.3s ease;*/
/*  content: "\f061";*/
/*  font-family: FontAwesome;*/
/*  margin-left: -10px;*/
/*  opacity: 0;*/
/*  vertical-align: middle;*/
/*  text-decoration: none;*/
/*}*/
/*.blog-card .description a:hover:after {*/
/*  margin-left: 5px;*/
/*  opacity: 1;*/
/*    text-decoration: none;*/
/*}*/

@media screen and (min-width: 600px) {
    .blog-card {
        height: 150px;
        /*max-width: 600px;*/
        /*padding: 0;*/
    }

    /*.blog-card:hover .photo {*/
    /*  -webkit-transform: rotate(5deg) scale(1.3);*/
    /*          transform: rotate(5deg) scale(1.3);*/
    /*}*/
    /*.blog-card:hover.alt .photo {*/
    /*  -webkit-transform: rotate(-5deg) scale(1.3);*/
    /*          transform: rotate(-5deg) scale(1.3);*/
    /*}*/
    .blog-card.alt .details {
        padding-left: 30px;
    }

    .blog-card.alt .description {
        float: right;
    }

    .blog-card.alt .description:before {
        -webkit-transform: skewX(3deg);
        transform: skewX(3deg);
        right: -15px;
        left: inherit;
    }

    .blog-card.alt .photo {
        float: right;
    }

    .blog-card .photo {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        float: left;
        height: 100%;
        width: 40%;
    }

    .blog-card .details {
        width: 40%;
    }

    .blog-card .description {
        float: left;
        width: 60%;
        z-index: 0;
        height: 100%;
        min-height: inherit;
    }

    .blog-card .description:before {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        content: "";
        background: #fff;
        width: 100%;
        z-index: -1;
        /*POSITION*/
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
    }

    .blog-card.review .description {
        max-height: inherit;
        min-height: inherit;
    }
}

.card-media-body-supporting-bottom {
    position: absolute;
    bottom: 10px;
    left: 0;
    opacity: 1;
    padding: 0 10px;
    transition: all 300ms ease-out;
    width: 100%;
}

.blog-card:hover .card-media-body-supporting-bottom {
    opacity: 0;
    transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
    display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
    opacity: 0;
    transform: translateY(8px);
    transition: all 300ms ease-out;
}

.blog-card:hover .card-media-body-supporting-bottom-reveal {
    opacity: 1;
    transform: translateY(0);
}

.card-media-link {
    color: #41C1F2;
    text-decoration: none;
}

.card-favorite-link:before {
    font-family: FontAwesome;
    content: "\f21e";
}

.u-float-right {
    float: right;
}

/*-----------------------------------------------------------------------------------*/
/* Review card
/*-----------------------------------------------------------------------------------*/
.related-entry {
    line-height: 150%;
    margin-top: 3px;
    margin-bottom: 15px;
    margin-right: 10px;
    clear: both;
    overflow: auto;
}

.related-entry::after {
    content: "";
    clear: both;
    display: block;
}

.related-entry-thumb {
    float: left;
    /*margin-top: 3px;*/
    /*margin-bottom: 5px;*/
    /*padding-bottom: 5px;*/
}

.related-entry-thumb a {
    display: block;
}

.related-entry-thumb img {
    border: 0;
    width: 100px;
    height: 100px;
    /*margin-bottom: 20px;*/
    display: block;
}

.related-entry-content {
    margin-left: 110px;
}

.related-entry-title {
    margin-bottom: 5px;
}

.related-entry-title a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /*color: #333;*/
}

.related-entry-snippet {
    margin: 0 0 5px 0;
    /*color: #555;*/
}

.related-entry-read {
    margin: 0;
    font-size: 14px;
}

.related-entry-read a, .article-list .entry-title a {
    color: #111;
}

/* side section */
.widget_new_entries ul li img, .widget_new_popular ul li img, .widget_popular_ranking ul li img {
    border: medium none;
    display: inline;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    width: 75px;
    height: 50px;
    margin-bottom: 10px;
}

.widget_new_entries ul li, .widget_new_popular ul li, .widget_popular_ranking ul li {
    clear: left;
    float: none;
    margin-bottom: 10px;
    overflow: auto;
}

.widget_archive .years, .widget_archive .years ul {
    padding-left: 10px;
}

.widget_archive .years ul {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    margin: 0;
    margin-bottom: 1em;

}

#sidebar ul {
    padding-left: 1em;
    list-style: none;
}

/*-----------------------------------------------------------------------------------*/
/* 16.0 - Select2 Module Styles
/*-----------------------------------------------------------------------------------*/
.select2-container {
    width: 100%;
}

.header-advance-search .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 15px;
    height: 100%;
    line-height: 48px;
    font-size: 14px;
}

.header-advance-search .select2-container--default .select2-selection--single {
    height: 48px;
    border: 1px solid transparent;
    border-radius: 0;
}

.header-advance-search .select2-container--default .select2-selection--single:focus {
    outline: none;
}

.header-advance-search .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 0;
    width: 30px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.header-advance-search .select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: static;
    margin: 0;
    border: none;
}

.header-advance-search .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    content: "\f078";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 10px;
    font: normal normal normal 10px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 9px;
}

.header-advance-search .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: none;
}

.header-advance-search .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
    content: "\f077";
}

.header-advance-search .select2-container--default .select2-results > .select2-results__options {
    max-height: 225px;
}

.header-advance-search .select2-dropdown {
    border-radius: 0;
}

.header-advance-search .select2-results__option {
    padding: 10px 16px;
}

.header-advance-search .select2-results li {
    border-top: 1px solid;
}

/*-----------------------------------------------------------------------------------*/
/* 24.0 - Advance Search
/*-----------------------------------------------------------------------------------*/
.advance-search input[type="text"],
.header-advance-search .select2-container .select2-choice,
.header-advance-search .form-submit-btn,
.header-advance-search .hidden-fields-reveal-btn {
    font-size: 14px;
    height: 48px;
}

.advance-search input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: none;
    text-transform: inherit;
}

.option-bar {
    float: left;
}

.header-advance-search {
    overflow: hidden;
}

.header-advance-search .option-bar {
    width: 25%;
    padding: 1px 1px 0 0;
    text-transform: uppercase;
}

.header-advance-search .inline-fields {
    margin: -1px -1px 0 0;
}

.header-advance-search .hidden-fields {
    display: none;
    margin-right: -1px;
}

.header-advance-search .hidden-fields-reveal-btn {
    float: left;
    width: 25%;
}

.header-advance-search .form-submit-btn {
    width: 75%;
    /*padding-left: 50px;*/
    /*text-align: left;*/
}

.form-submit-btn {
    border: none;
    text-transform: uppercase;
}

.hidden-fields-reveal-btn {
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.hidden-fields-reveal-btn .icon-plus-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 700px) {
    .header-advance-search .option-bar {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .header-advance-search .option-bar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .main-advance-search .option-bar {
        width: 100%;
    }

    .features-checkboxes-wrapper > li {
        width: 50%;
    }

    .features-checkboxes-wrapper > li:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) {
    .layout-wide .search-title {
        left: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .inspiry-slider-two .main-advance-search .container,
    .inspiry-slider-three .main-advance-search .container {
        padding-top: 30px;
    }

    .inspiry-slider-two .search-title,
    .inspiry-slider-three .search-title {
        position: absolute;
        top: 0;
        z-index: 200;
        margin: 0;
        -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        transform: translate(0, -100%);
    }

    .main-advance-search .advance-search-form {
        margin-left: -5px;
        margin-right: -5px;
    }
}

.hidden-fields-reveal-btn {
    /*background-color: #f4903f;*/
    background-color: #ec6d05;
}

.hidden-fields-reveal-btn:hover {
    /*background-color: #0dbae8;*/
    background-color: #fcd700;
}

/*
* 11.0 Select2 Module
*/
.header-advance-search .select2-container .select2-selection--single .select2-selection__rendered {
    color: #4a525d;
}

.header-advance-search .select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: static;
    margin: 0;
    border: none;
}

.header-advance-search .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    color: #b5b9bf;
}

.header-advance-search .select2-dropdown,
.header-advance-search .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #EFEFEF;
}

.header-advance-search .select2-results li {
    border-top-color: #EFEFEF;
}

.header-advance-search .select2-container--default .select2-results__option[aria-selected=true],
.header-advance-search .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #f9f9fa;
    color: #4a525d;
}

/*
* 12.0 - Advance Search
*/
/*::-moz-placeholder {*/
    /*color: #4a525d;*/
    /*opacity: 1;*/
/*}*/

/*:-ms-input-placeholder {*/
    /*color: #4a525d;*/
/*}*/

/*::-webkit-input-placeholder {*/
    /*color: #4a525d;*/
/*}*/

.advance-search input[type="text"]:hover,
.advance-search input[type="text"]:focus,
.advance-search .select2-container--default .select2-selection--single:hover,
.advance-search .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.advance-search .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    background: #f9f9fa;
}

/* 12.1 - Header Advance Search for header area */
.header-advance-search {
    background-color: #ffffff;
}

.header-advance-search input[type="text"],
.header-advance-search .select2-container--default .select2-selection--single {
    background-color: #dfe7ee;
}

.header-advance-search .form-submit-btn {
    /*background-image: url('../images/svg/icon-search.svg');*/
    /*background-repeat: no-repeat;*/
    /*background-position: 17px center;*/
    /*background-size: 20px;*/
    color: #fff;
    background-color: #0075c2;
}

.header-advance-search input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #AFAFAF;
}

.header-advance-search input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #AFAFAF;
}

.header-advance-search input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #AFAFAF;
}

.header-advance-search input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #AFAFAF;
}

.icon-plus-container {
    fill: #fff;
    /*fill: #C15302;*/
}

.site-footer-one .widget_mortgage-calculator input[type="number"],
.site-footer-one .widget_lidd_mc_widget input[type="text"],
.site-footer-one .extra-search-fields .text-wrapper:before,
.site-footer-one .advance-search input[type="text"],
.site-footer-one .select2-container .select2-choice,
.site-footer-one .widget_lidd_mc_widget .select2-container--default .select2-selection--single,
.site-footer-one .select2-container--default .select2-selection--single,
.site-footer-one .widget_search input[type="search"],
.site-footer-one .search-form input[type="search"] {
    background-color: #f0f3f8;
}

.side-panel {
    margin: 0 auto;
    /*background: #FFF;*/
    /* text-align: center; */
    /* min-width: 320px; */
    /* border: 1px solid #E5E5E5; */
    margin-bottom: 15px;
    /* padding: 15px; */
}

.side-panel .topic {
    padding-bottom: 3px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
    color: #9197a3;
}

.bullet-list-round {
    padding: 0;
    /*margin: 0 0 24px 12px;*/
    line-height: 1.28571em;
    /*margin-left: 14px;*/
}

.bullet-list-round li {
    margin-top: 6px;
    margin-bottom: 6px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698599-icon-86-document-list-16.png);
    background-size: 13px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.bullet-list-round li.folder {
    background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698607-icon-94-folder-16.png);
}

.bullet-list-round a {
    /*color: #000000;*/
    cursor: pointer;
    text-decoration: none;
}

.bullet-list-round a:hover {
    text-decoration: underline;
}

/* new post */
.list-container {
    /*padding-left: 20px;*/
}

.list {
    margin: 10px auto 0 auto;
    padding: 0;
}

.list-container li {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.list-container li:last-child {
    border-bottom: none;
}

.list-badge {
    display: block;
    float: left;
    /* width: 15px; */
    /* height: 18px; */
    margin-right: 20px;
    /* border: 1px dotted steelblue; */
    /* color: #ffffff; */
    text-align: center;
    /* padding: 15px 8px; */
    width: 3rem;
    width: 5.4rem;
    height: 2rem;
}

.list-title {
    color: #596673;
    font-weight: 300;
    margin: 0;
}

.list-author {
    color: #C1C1C1;
    font-size: 12px;
}



h3.side-list-title {
    color: #222;
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}



/*! login ------------------------------------*/
.div-login, .div-join {
    position: relative;
    float: left;
    padding-top: 40px;
}

.div-login {
    width: calc(100% - 313px);
}
.div-join {
    width: 313px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}




/*******************
LOGIN FORM
*******************/

.login-form {

    margin: 0 auto;
    position: relative;

    max-width: 450px;
}

/*******************
HEADER
*******************/


.top-header {
    font-weight: 300;
    font-size: 28px;
    line-height:34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;

}
.div-join .top-header {
    border-bottom: 1px solid transparent;
}
.login-form .header span {
    font-size: 11px;
    line-height: 16px;
    color: #678889;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
    padding-bottom: 15px;
}

/* Input field */
.login-page .input {
    width: 100%;
    max-width: 300px;
    padding: 5px 13px;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}

/* Second input field */
.login-page .input {
    margin-top: 15px;
}

.login-page .input:hover {
    background: #dfe9ec;
    color: #414848;
}

/* Animation */
.login-page .input{
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.login-page .form-control{
    max-width: 300px;
}

/*******************
FOOTER
*******************/

.login-form .bottom {
    padding: 15px 0;
    overflow: auto;



}



button.proceed {
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 15px 0;
    color: white;
    background: #3b8686;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -webkit-linear-gradient(-45deg, #3b8686 0%, #0b486b 100%);
    background: -webkit-linear-gradient(315deg, #3b8686 0%, #0b486b 100%);
    background: linear-gradient(135deg, #3b8686 0%, #0b486b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF3B8686', endColorstr='#FF0B486B',GradientType=1 );
    border: 0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

button.join-btn{
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 15px 0;
    color: white;
    background: #003561;
    border: 0;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}
p.agree{
    color: #777;
    font-size: 13px;
    width: 316px;
    margin-top: 20px;
}

.login-social{
    margin: 10px 0;
}
.login-social .enlace {
    display: inline-block;
    background-color: grey;
    padding: 0.7em 1.5em 0.7em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7em;
    color: white;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}
.enlace.facebook {
    background-color: #1F5CA1;
}
.enlace.google {
    background-color: #BF002D;
}
/*! end login ------------------------------------*/








.input-group-btn .btn {
    padding: 4px 12px;
}





/*!* dialog account --------------------------------*/
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 9998;
}

.popup {
    /*background: #E5DDCB;*/
    background: rgba(255, 255, 255, 0.9);
    width: 200px;
    padding: 20px;
    text-align: center;
    position: fixed;
    display: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), -1px 0 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}
.popup.four {
    top: 0;
    right: 0;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: all .5s cubic-bezier(0.700, -0.370, 0.300, 1.350);
}

.popup.fourOpen {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.popup ul {
    /*text-align: right;*/
}
.popup ul li{
    padding: 5px 0;
}
.popup ul li > a{
    padding: 10px;
}





/*! pagination -----------------------------------*/




.pagination:after, .pagination:before ,.pagination__container:after, .pagination__container:before {
    content: "";
    display: table;
}
.pagination:after, .pagination__container:after {
    clear: both;
}
.pagination__container{
    position: relative;
    clear: both;
    top: 2rem;
    margin: 3rem 0;
}
.pagination__wrapper {
    /*background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 17%, white 83%, rgba(255, 255, 255, 0) 100%);*/
    /*background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 17%, white 83%, rgba(255, 255, 255, 0) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );*/
    height: 50px;
    /*left: 50%;*/
    /*position: absolute;*/
    text-align: center;
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    /*top: 50%;*/
    width: 100%;
}
.pagination__wrapper:before, .pagination__wrapper:after {
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.pagination__wrapper:before {
    top: -1px;
}
.pagination__wrapper:after {
    bottom: -1px;
}

@-webkit-keyframes hoverAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes hoverAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.pagination {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pagination li {
    display: block;
    float: left;
    padding: 5px;
}
.pagination li:first-child {
    border: none;
}
.pagination button,
.pagination span {
    background: none;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    padding: 0;
}

/* bootstrap reset */
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: inherit;
    padding: inherit;
    margin-left: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: inherit;
    background-color:inherit;
    border: inherit;
}

.pagination button {
    outline: none;
    position: relative;
    -webkit-transition: all 170ms linear;
    transition: all 170ms linear;
}
.pagination button:before {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 170ms linear;
    transition: all 170ms linear;
    top: 50%;
    width: 0;
}
.pagination button:hover:not(.active) {
    color: black;
}
.pagination button:hover:not(.active):before {
    -webkit-animation: hoverAnimation 510ms linear forwards;
    animation: hoverAnimation 510ms linear forwards;
    height: 40px;
    width: 40px;
}
.pagination button.active {
    background: rgba(0, 0, 0, 0.1);
    color: black;
}
.pagination .prev,
.pagination .next {
    font-size: 14px;
}



.features-item .hover_img{
    position: absolute;
    right: 23px;
    width: 150px;
    top: -85px;
    display: none;
}
.features-item.features-item:hover span .hover_img{
    display:block;
}

blockquote.series-list {
    font-size: 1.1em;
    padding: 0.4em 1.4em;
    margin: 0 0 21px;
    border-left: 5px solid #eeeeee;
}

/* loading */
.loading {
    margin: auto;
    width: 100px;
    zoom: 1;
}
.loading:before {
    content: '';
    display: block;
}
.loading:after {
    content: '';
    display: table;
    clear: both;
}
.text {
    float: left;
    font-weight: bold;
}
.blob {
    border-radius: 50%;
    background-color: #1ab7ea;
    display: block;
    float: left;
    margin: 5px 2px;
    position: relative;
    top: 3px;
    height: 8px;
    width: 8px;
    /*animation: loading-blob 1.2s infinite;*/
    /*animation-timing-function: ease-in-out;*/
    /*transform: translate3d(0, 0, 0);*/

    -webkit-animation: LOADING 2s infinite;
    animation: LOADING 2s infinite;
}
.blob2 {
    animation-delay: 150ms;
}
.blob3 {
    animation-delay: 300ms;
}
@-webkit-keyframes LOADING {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: #2b8ccd;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: white;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: #2b8ccd;
    }
}

@keyframes LOADING {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: #2b8ccd;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: white;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: #2b8ccd;
    }
}
@-webkit-keyframes LOADINGREV {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: white;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: #2b8ccd;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: white;
    }
}
@keyframes LOADINGREV {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: white;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        background: #2b8ccd;
    }
    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        background: white;
    }
}

a.inf-more-but:hover .blob {
    background: #FFFFFF;
}






/* dialog */

.dialog,
.dialog-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    pointer-events: none;
    z-index: 99999;
}

html.loading{
    overflow: hidden;
}

.dialog-overlay {
    position: absolute;
    z-index: 1;
    background: rgba(33, 35, 42, 0.8);
    opacity: 0;
    transition-property: opacity;
    -webkit-backface-visibility: hidden;
}

.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 500px;
    /*background: #fff;*/
    padding: 4em;
    text-align: center;
    position: relative;
    z-index: 100;
    border-radius: 3px;
    /*box-shadow: 0 0 8px rgba(0,0,0,.3);*/
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    transform: translate(-50%, -50%) scale(1.15);
    transition-property: opacity, transform;
    will-change: -webkit-transform;
    will-change: transform;
}

.dialog-overlay,
.dialog-content {
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.show-dialog .dialog-overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog.show-dialog .dialog-content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}





.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin: -80px 0px 0px -80px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #E3E4DC;
}
.loader:before {
    content: '';
    width: 164px;
    height: 164px;
    display: block;
    position: absolute;
    border: 2px solid #898a86;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    box-sizing: border-box;
    clip: rect(0px, 35px, 35px, 0px);
    z-index: 10;
    animation: rotate infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.loader:after {
    content: '';
    width: 164px;
    height: 164px;
    display: block;
    position: absolute;
    border: 2px solid #c1bebb;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    box-sizing: border-box;
    clip: rect(0px, 164px, 150px, 0px);
    z-index: 9;
    animation: rotate2 3s linear infinite;
}

.hexagon-container {
    position: relative;
    top: 33px;
    left: 41px;
    border-radius: 50%;
}

.hexagon {
    position: absolute;
    width: 40px;
    height: 23px;
    background-color: #556C82;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 11.5px solid #556C82;
}
.hexagon:after {
    content: "";
    position: absolute;
    top: 23px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11.5px solid #556C82;
}

.hexagon.hex_1 {
    top: 0px;
    left: 0px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 0.21429s;
}

.hexagon.hex_2 {
    top: 0px;
    left: 42px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 0.42857s;
}

.hexagon.hex_3 {
    top: 36px;
    left: 63px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 0.64286s;
}

.hexagon.hex_4 {
    top: 72px;
    left: 42px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 0.85714s;
}

.hexagon.hex_5 {
    top: 72px;
    left: 0px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 1.07143s;
}

.hexagon.hex_6 {
    top: 36px;
    left: -21px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 1.28571s;
}

.hexagon.hex_7 {
    top: 36px;
    left: 21px;
    animation: Animasearch 3s ease-in-out infinite;
    animation-delay: 1.5s;
}

@keyframes Animasearch {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    15%,
    50% {
        transform: scale(0.5);
        opacity: 0;
    }
    65% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0);
        clip: rect(0px, 35px, 35px, 0px);
    }
    50% {
        clip: rect(0px, 40px, 40px, 0px);
    }
    100% {
        transform: rotate(360deg);
        clip: rect(0px, 35px, 35px, 0px);
    }
}
@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        clip: rect(0px, 164px, 150px, 0px);
    }
    50% {
        clip: rect(0px, 164px, 0px, 0px);
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
        clip: rect(0px, 164px, 150px, 0px);
    }
}
@keyframes rotate3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.maia-article p{
    margin: 0 0 10px;
}