#feat-top-wrap {
            position: relative;
        float: left;
    /*margin-bottom: 15px;*/
    overflow: hidden;
    width: 100%;
}
.feat-wide5-main {
        position: relative;
        float: left;
    /*margin-left: .094756790903%;*/
    overflow: hidden;
    /*width: 24.9289324068%;*/
    width: calc( 100% - 1px);
    /*height: 370px;*/
}
.feat-wide5-main:first-child {
    margin-left: 0;
}
#feat-top-wrap .feat-wide5-main {
    height: 370px;
    margin-bottom: 1px;
}
@media screen and (max-width: 768px) {
    #feat-top-wrap .feat-wide5-main, #feat-wide-wrap .feat-wide5-main {
        height: 300px;
    }
}
@media screen and (max-width: 660px) {
    #feat-top-wrap .feat-wide5-main, #feat-wide-wrap .feat-wide5-main {
        height: 250px;
    }
}

/*@media screen and (max-width: 899px) and (min-width: 768px) {*/
/*    #feat-top-wrap .feat-wide5-main, #feat-wide-wrap .feat-wide5-main {*/
/*        height: 300px;*/
/*    }*/
/*}*/
/*#feat-top-wrap .feat-wide5-main, #feat-wide-wrap .feat-wide5-main {*/
/*    height: 370px;*/
/*}*/

.feat-wide1-img, .feat-top2-left-img, .feat-top2-right-img, .feat-wide5-img {
                position: relative;
        float: left;
    background: #000;
    line-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.feat-wide5-img img {
    min-width: 840px;
}
.feat-wide5-img img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
}
#fly-wrap, ul.post-gallery-bot-list li img, .post-gallery-top .flex-direction-nav a, .fly-fade, nav.main-menu-wrap, nav.main-menu-wrap ul li a, nav.main-menu-wrap ul li.menu-item-has-children a::after, .mega-img img, span.nav-search-but i, span.nav-soc-but i, ul.score-list li, .es-nav span a, .feat-wide-sub-text h2, .feat-wide1-img img, .feat-top2-left-img img, .feat-top2-right-img img, .feat-wide5-img img, #home-feat-img img, .feat-vid-but, .side-list-img img, .side-list-text p, .row-widget-img img, .row-widget-text p, .blog-widget-img img, .blog-widget-text h2, .feat-widget-img img, .feat-widget-text h2, span.more-posts-text, .facebook-share, .twitter-share, .pinterest-share, .email-share, .social-comments, .prev-next-text, #comments-button a, #comments-button span.comment-but-text, .archive-list-img img, .archive-list-text h2, ul.foot-soc-list li a, .tag-cloud a, a.inf-more-but, .mvp-related-img img {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.feat-wide1-img img, .feat-top2-left-img img, .feat-top2-right-img img, .feat-wide5-img img {
    margin: 0 auto;
    opacity: .9;
    position: absolute;
    left: -9999px;
    right: -9999px;
    width: 100%;
}

.feat-wide5-text {
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    /*background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));*/
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.7)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,.7) 100%);
    padding: 40px 5.050505050505% 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    /*width: 90%;*/
}
span.feat-cat {
    clear: both;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: .65rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-transform: uppercase;
}
span.feat-cat {
    background: #eb0254;
}
.feat-wide5-text h2 {
    font-size: 1.4rem;
}
.feat-wide5-text h2 {
    color: #fff;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 120%;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -o-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: 100%;
}

.home-widget{
    /*margin: 0 2.65604249668% 20px;*/
    /* width: 94.6879150066%; */
}
ul.row-widget-list {
    float: left;
    margin-left: -2.65604249668%;
    width: 102.65604249668%;
}
ul.row-widget-list li {
    float: left;
    margin-left: 2.5873221216%;
    margin-bottom: 2.5873221216%;
    width: 30.7460112117%;
}
.row-widget-img {
    background: #000;
    line-height: 0;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 150px;
}
.row-widget-text {
    float: left;
    width: 100%;
}
.feat-info-wrap {
    position: absolute;
    top: 0;
    right: 0;
}
.feat-info-views, .feat-info-comm {
    color: #fff;
    display: inline-block;
    margin: 10px;
}
span.side-list-cat {
    color: #999;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-size: .65rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 6px;
    text-transform: uppercase;
    width: 100%;
}
.row-widget-text p {
    color: #222222;
    float: left;
    font-size: .8rem;
    font-weight: 400;
    line-height: 130%;
    width: 100%;
}

.mg-30{
    margin-top: 30px;
}
.mg-20{
    margin-top: 20px;
}
a.inf-more-but {
    color: #eb0254;
    border: 1px solid #eb0254;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    margin: 20px auto 0;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 99%;
}
a.inf-more-but:hover {
    color: #FFFFFF;
    background: #eb0254;
}

.related-entries a.inf-more-but{
    margin-top: 0;
    margin-bottom: 10px;
    border: none;
    float: right;
    width: inherit;
}
.related-entries a.inf-more-but:hover {
    color: #00b3ee;
    background: transparent;
}

#post-feat-img {
    position: relative;
    float: left;
    line-height: 0;
    overflow: hidden;
    width: 100%;
    max-height: 500px;
}
#post-feat-img img {
    line-height: 0;
    width: 100%;
}
#content-area {
    float: left;
    padding: 30px 2.93255131965%;
    position: relative;
    /*width: 94.1348973607%;*/
}
.post-tags {
    float: left;
    font-size: .75rem;
    font-weight: 400;
    line-height: 120%;
    margin: 30px 0;
    text-transform: uppercase;
    width: 100%;
}
.social-sharing-top, .social-sharing-bot {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
.social-sharing-top, .social-sharing-bot {
    margin-bottom: 30px;
}

.post-feat-text {
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    padding: 40px 1.9550342131% 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
span.post-excerpt p, #content-main span.post-excerpt p {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 0;
    width: 65%;
}
span.feat-caption {
    color: #ddd;
    font-size: .65rem;
    font-weight: 400;
    line-height: 120%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 30%;
}
a:hover {color: #C03;}


@media screen and (max-width: 398px) {
    ul.row-widget-list {
        float: left;
        margin-left: inherit;
        width: 100%;
    }
    ul.row-widget-list li {
        float: left;
        margin-left: inherit;
        margin-bottom: 25px;
        width: 100%;
    }
}