#main-nav {
    position: fixed !important;
    top: 0;
    z-index: 9999;
    zoom: 1;
}

#main-nav {
    border-bottom: 1px solid #c5c5c5;
}

#main-nav {
    width: 100%;
    float: left;
    position: absolute;
    background: #fff;
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

#main-nav ul {
    margin-bottom: 0;
    float: right;
}

#main-nav li {
    float: left;
    text-transform: uppercase;
    line-height: 82px;
    margin-left: 40px;
}

#main-nav .maia-button {
    font-weight: 300;
    font-size: 12px;
    padding: 10px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

a:link {
    -webkit-tap-highlight-color: #fcd700;
}

.maia-button {
    background-color: #4173c9;
    background-image: -moz-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e8ee4), color-stop(1, #4173c9));
    background-image: linear-gradient(top, #5e8ee4, #4173c9);
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
}

a.maia-button {
    color: #fff !important;
    text-decoration: none;
}

#main-nav a {
    color: #666;
}

h1#header {
    text-align: center;
    padding: 50px;
    font-size: 62px;
    text-shadow: 0 2px 2px #3c77b3;
}

.article-wrapper {
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
}

article {
    position: relative;
    padding-left: 150px;
    /* padding-right: 75px; */
    height: 150px;
    margin-bottom: 25px;
    background-color: #FFF;
    -moz-border-radius: 150px;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    cursor: pointer;
}

article .img-wrapper {
    position: absolute;
    top: -5px;
    left: -5px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background-color: #CDE;
    padding: 5px;
    z-index: 1000;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

article .img-wrapper img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 135px;
}

article h1 {
    /*height: 75px;*/
    line-height: 25px;
    font-size: 18px;
    margin: 0 0 5px 0;
    border-bottom: 2px solid #CDE;
    color: #428bca;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

article:hover .img-wrapper {
    padding: 0;
    /*background-color: transparent;*/
    /*   -moz-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg); */
}

article:hover .img-wrapper img {
    width: 145px;
}

article:hover a {
    opacity: 1;
}

.bloc article {
    padding: 10px;
    height: 225px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-top: 75px;
}

.bloc article .img-wrapper {
    position: relative;
    top: -85px;
    width: 170px;
    left: inherit;
    margin: auto;
    margin-bottom: -100px;
}

.bloc article h1 {
    font-size: 14px;
    height: 37.5px;
    line-height: 37.5px;
}

.bloc article p {
    font-size: 12px;
}

.bloc article a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 255px;
}
